/node_modules
/snap
/.claude
/.vscode
/.idea
.DS_Store
/dist
/build
/.env
/.env.local
/.env.*.local
/coverage
/.turbo
/.next
/out
/.vercel
/vercel.json
/.vercelignore
/.parcel-cache
/.pnp.js
/.pnp.cjs
/.yarn/*
!.yarn/releases